@charset "UTF-8";
/* CSS Document */

#searchsubmit {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Helvetica Neue Light;
  color: #ffffff;
  font-size: 16px;
  background: #faad33;
  padding: 10px 20px 10px 16px;
  border: solid #faad33 0px;
  text-decoration: none;
}

#searchsubmit:hover {
  background: #195297;
  background-image: -webkit-linear-gradient(top, #faad33, #fdd291);
  background-image: -moz-linear-gradient(top, #faad33, #fdd291);
  background-image: -ms-linear-gradient(top, #faad33, #fdd291);
  background-image: -o-linear-gradient(top, #faad33, #fdd291);
  background-image: linear-gradient(to bottom, #faad33, #fdd291);
  text-decoration: none;
  border: solid #1f628d 0px;
}

#previous {
 background: #325199;
  background-image: -webkit-linear-gradient(top, #325199, #408085);
  background-image: -moz-linear-gradient(top, #325199, #408085);
  background-image: -ms-linear-gradient(top, #325199, #408085);
  background-image: -o-linear-gradient(top, #325199, #408085);
  background-image: linear-gradient(to bottom, #325199, #408085);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
    font-family: Helvetica Neue Light;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border: solid #1f628d 0px;
}

#previous:hover {
  background: #325199;
  background-image: -webkit-linear-gradient(top, #325199, #408085);
  background-image: -moz-linear-gradient(top, #325199, #408085);
  background-image: -ms-linear-gradient(top, #325199, #408085);
  background-image: -o-linear-gradient(top, #325199, #408085);
  background-image: linear-gradient(to bottom, #325199, #408085);
  text-decoration: none;
  border: solid #1f628d 0px;
}


#next {
 background: #325199;
  background-image: -webkit-linear-gradient(top, #325199, #408085);
  background-image: -moz-linear-gradient(top, #325199, #408085);
  background-image: -ms-linear-gradient(top, #325199, #408085);
  background-image: -o-linear-gradient(top, #325199, #408085);
  background-image: linear-gradient(to bottom, #325199, #408085);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
    font-family: Helvetica Neue Light;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 20px 5px 21px;
  text-decoration: none;
  border: solid #1f628d 0px;
}

#next:hover {
 background: #325199;
  background-image: -webkit-linear-gradient(top, #325199, #408085);
  background-image: -moz-linear-gradient(top, #325199, #408085);
  background-image: -ms-linear-gradient(top, #325199, #408085);
  background-image: -o-linear-gradient(top, #325199, #408085);
  background-image: linear-gradient(to bottom, #325199, #408085);
  text-decoration: none;
  border: solid #1f628d 0px;
}


#MainGreyPage
{
/*	background: #f2f1ec; */

	background: #ffffff; 

}

#searchTerm
{
    width:490px; 
	
/*	width:1000px; */
}


#SearchBorder
{ 
	position: static;
	width: 1000px;
	height: 40px;
	background: #325199;
}

#SearchResults
{
	position: relative;
	top:20px;
	width: 1000px;
	height: 400px;
	background: #ffffff;
	border:dedede;
	border:solid;
	border-width:1px
}

#SearchKeyInformation1
{
	position: relative;
	top:4px;
	left:20px;
	width: 700px;
	height: 30px;
	background: #325199;
	
	font-size:18px;
	color:#ffffff
}

#PractitionerBusinessNameHeadingHyperlink
{
	position: relative;
	top:20px;
	left:20px;
	width: 400px;
	height: 30px;
	background: #ffffff;
	
/*	border:dedede; */
/*	border:solid; */
/*	border-width:1px;	*/
	
	font-size:16px;
	color:#325199;
	text-decoration:underline;
}


#PractitionerCountryFlag
{
	position: relative;
	top:22px;
	left:20px;
	width: 60px;
	height: 35px;
	background: #ffffff;
/*	border:dedede; */
/*	border:solid; */
/*	border-width:1px;	*/
	
}

#PractitionerPhoneNumber
{
	position: absolute;
	top:54px;
	left:90px;
	width: 120px;
	height: 20px;
	background: #ffffff;
/*	border:dedede; */
/*	border:solid; */
/*	border-width:1px;*/
	font-size:11px;
	font-weight: bold;
}

#PractitionerAddress
{
	position: absolute;
	top:54px;
	left:220px;
	width: 300px;
	height: 20px;
	background: #ffffff;
/*	border:dedede; */
/*	border:solid; */
/*	border-width:1px;*/
}

#PractitionerSlogan
{
	position: relative;
	top:23px;
	left: 20px;
	width: 540px;
	height: 30px;
	background: #ffffff;
	font-size:13px;
	font-weight: bold;
	
/*	border:dedede; */
/*	border:solid; */
/*	border-width:1px;*/
}

/* #PractitionerThanksTotal
{
	position: absolute;
	top:136px;
	left: 20px;
	width: 80px;
	height: 50px;
	background: #ffffff;
	border:dedede;
	border:solid;
	border-width:1px	
}
*/

.PractitionerThanksTotal {
	position: absolute;
	background-color:#fde7c5;
	margin: 0;
	padding:10px;
	text-align:center;
	height:40;
	width:80px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
	box-shadow: 0px 0 3px rgba(0,0,0,0.25);
	left: 20px;
	top: 130px;
}

.PractitionerThanksTotal:after {
  position: absolute;
  display: block;
  content: "";  
  border-color: #fde7c5 transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom:-19px;
  left:1em;
}




/* #PractitionerTrustTotal
{
	position: absolute;
	top:136px;
	left: 120px;
	width: 80px;
	height: 50px;
	background: #ffffff;
	border:dedede;
	border:solid;
	border-width:1px	
	
}
*/

.PractitionerTrustTotal {
	position: absolute;
	background-color:#fde7c5;
	margin: 0;
	padding:10px;
	text-align:center;
	height:40;
	width:80px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
	box-shadow: 0px 0 3px rgba(0,0,0,0.25);
	left: 129px;
	top: 130px;
}

.PractitionerTrustTotal:after {
  position: absolute;
  display: block;
  content: "";  
  border-color: #fde7c5 transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom:-19px;
  left:1em;
}

.PractitionerReviewsTotal {
	position: absolute;
	background-color:#fde7c5;
	margin: 0;
	padding:10px;
	text-align:center;
	height:40;
	width:80px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
	box-shadow: 0px 0 3px rgba(0,0,0,0.25);
	left: 239px;
	top: 130px;
}

.PractitionerReviewsTotal:after {
  position: absolute;
  display: block;
  content: "";  
  border-color: #fde7c5 transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom:-19px;
  left:1em;
  
}


/* #PractitionerReviewsTotal
{
	position: absolute;
	top:136px;
	left: 222px;
	width: 80px;
	height: 50px;
	background: #ffffff;
	border:dedede;
	border:solid;
	border-width:1px	
}
*/

#PractitionerSpecialty
{
	position: absolute;
	top:221px;
	left: 19px;
	width: 312px;
	height: 26px;
	background: #ffffff;/*	border:dedede; *//*	border:solid; *//*	border-width:1px;*/
}

#PractitionerQualification
{
	position: absolute;
	top:257px;
	left: 19px;
	width: 431px;
	height: 30px;
	background: #ffffff;/*	border:dedede; *//*	border:solid; *//*	border-width:1px;*/
}

#PractitionerCountryTrained
{
	position: absolute;
	top:296px;
	left: 20px;
	width: 216px;
	height: 26px;
	background: #ffffff;/*	border:dedede; *//*	border:solid; */
/*	border-width:1px;*/
}


#PractitionerPatientQuote
{
	position: absolute;
	top:136px;
	left: 360px;
	width: 400px;
	height: 100px;
	background: #ffffff;
	font-size: 12px;
	font-style: italic;
	color:#325199;
	
	
	
/*	border:dedede; */
/*	border:solid; */
/*	border-width:1px;*/
}

#PractitionerPatientQuoteMore
{
	position: absolute;
	top:240px;
	left: 361px;
	width: 400px;
	height: 20px;
	background: #ffffff;
	font-size: 11px;
	font-style: regular;
	color:#325199;
}


#PractitionerBusinessLogo
{
	position: absolute;
	top:20px;
	left: 570px;
	width: 200px;
	height: 80px;
	background: #ffffff;
/*	border:dedede; */
/*	border:solid; */
/*	border-width:1px;*/
}

#PractitionerIndependentWebsiteHyperlink
{
	position: absolute;
	top:95px;
	left: 570px;
	width: 200px;
	height: 20px;
	background: #ffffff;	
	font-size:10px;
	color: #33C
	
}


#PractitionerProfilePhoto
{
	position: absolute;
	top:20px;
	left: 780px;
	width: 200px;
	height: 180px;
	background: #ffffff;
	border:dedede; 
	border:solid; 
	border-width:0px;
	padding:3px;
}

#PractitionerTrustIndexRating
{
	position: absolute;
	top:253px;
	left: 780px;
	width: 120px;
	height: 40px;
	background: #ffffff;
/*	border:dedede; */
/*	border:solid; */
/*	border-width:1px;*/
}


#PractitionerName
{
	position: absolute;
	top:225px;
	left: 781px;
	width: 200px;
	height: 20px;
	background: #ffffff;
/*	border:dedede; */
/*	border:solid; */
/*	border-width:1px;*/
	font-size:14px;
	color: #325199;
}



#PractitionerContactButton
{
	position: absolute;
	top:300px;
	left: 780px;
	width: 100px;
	height: 30px;
	background: #325199;
	
	
	-moz-box-shadow:inset -1px 1px 0px 0px #325199;
	-webkit-box-shadow:inset -1px 1px 0px 0px #325199;
	box-shadow:inset -1px 1px 0px 0px #325199;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #325199), color-stop(1, #325199) );
	background:-moz-linear-gradient( center top, #325199 5%, #325199 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#325199', endColorstr='#325199');
	background-color:#325199;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0px;
	border:1px solid #325199;
	display:inline-block;
	color:#ffffff;
    font-family: Helvetica Neue Light;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:169px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #325199;
}

#PractitionerSearchButton2
{
	position: absolute;
	top:100px;
	left: 300px;
	width: 400px;
	height: 30px;
	background: #325199;
	-moz-box-shadow:inset -1px 1px 0px 0px #325199;
	-webkit-box-shadow:inset -1px 1px 0px 0px #325199;
	box-shadow:inset -1px 1px 0px 0px #325199;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #325199), color-stop(1, #325199) );
	background:-moz-linear-gradient( center top, #325199 5%, #325199 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#325199', endColorstr='#325199');
	background-color:#325199;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0px;
	border:1px solid #325199;
	display:inline-block;
	color:#ffffff;
    font-family: Helvetica Neue Light;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #325199;
}

#PractitionerSearchButton
{
	position: absolute;
	top:100px;
	left: 100px;
	width: 100px;
	height: 30px;
	background: #325199;
	
	
	-moz-box-shadow:inset -1px 1px 0px 0px #325199;
	-webkit-box-shadow:inset -1px 1px 0px 0px #325199;
	box-shadow:inset -1px 1px 0px 0px #325199;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #325199), color-stop(1, #325199) );
	background:-moz-linear-gradient( center top, #325199 5%, #325199 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#325199', endColorstr='#325199');
	background-color:#325199;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0px;
	border:1px solid #325199;
	display:inline-block;
	color:#ffffff;
    font-family: Helvetica Neue Light;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:169px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #325199;
}

#PractitionerWotmedButton
{
	position: absolute;
	top:350px;
	left: 780px;
	width: 100px;
	height: 30px;
	background: #325199;
	
	
	-moz-box-shadow:inset -1px 1px 0px 0px #325199;
	-webkit-box-shadow:inset -1px 1px 0px 0px #325199;
	box-shadow:inset -1px 1px 0px 0px #325199;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #325199), color-stop(1, #325199) );
	background:-moz-linear-gradient( center top, #325199 5%, #325199 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#325199', endColorstr='#325199');
	background-color:#325199;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0px;
	border:1px solid #325199;
	display:inline-block;
	color:#ffffff;
    font-family: Helvetica Neue Light;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:169px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #325199;
}

	

#SurgeryFacilitatorContactButton
{
	position: absolute;
	top:300px;
	left: 780px;
	width: 100px;
	height: 30px;
	background: #325199;
	
	
	-moz-box-shadow:inset -1px 1px 0px 0px #325199;
	-webkit-box-shadow:inset -1px 1px 0px 0px #325199;
	box-shadow:inset -1px 1px 0px 0px #325199;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #325199), color-stop(1, #325199) );
	background:-moz-linear-gradient( center top, #325199 5%, #325199 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#325199', endColorstr='#325199');
	background-color:#325199;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0px;
	border:1px solid #325199;
	display:inline-block;
	color:#ffffff;
    font-family: Helvetica Neue Light;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:169px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #325199;
}


#PractitionerViewWotmedProfile
{
	position: absolute;
	top:278px;
	left: 627px;
	width: 115px;
	height: 23px;
	background: #b5cdcb;
	border:dedede;
	border:solid;
	border-width:1px
}
