@charset "UTF-8";
/* CSS Document */

body /* Facebook background grey */
{
  /*  background-color: #e9eaed; */
}

h1 	/* Wotmed Style Futura Medium Quotes */

{
	font-family: "Futura Medium";
    font-size: 13px;
	color: #27b5aa;
}

h2 	/* Wotmed Style Futura Medium Quotes */

{
	font-family: "Futura Medium";
    font-size: 13px;
	color: #14478e;
}

h3 	/* Wotmed Style Futura Medium Quotes */

{
	font-family: "Futura Medium";
    font-size: 13px;
	color: #6ec5f0;
}

h4 	/* Wotmed Style Futura Medium Quotes */

{
	font-family: "Futura Medium";
    font-size: 13px;
	color: #ee4552;
}

h5 	/* Wotmed Style Futura Medium Quotes */

{
	font-family: "Futura Medium";
    font-size: 13px;
	color: #f16321;
}

h6 	/* Wotmed Style Futura Medium Header */
{
    font-family: "Futura Medium";
    font-size: 13px;
	color: #fca41b;
}


p 	/* Wotmed Style Helvetica Neue Light */
{
    font-family: "Helvetica Neue Light";
    font-size: 13px;
}

h7 	/* Wotmed Style Futura Medium Header */
{
	/* NB Remember not to use this in practice as it's only heading 1 to 6 valid CSS*/
	
    font-family: "Futura Medium";
    font-size: 13px;
	color: #ffffff;
}


div 
{
    display: block;
}

#signupsubmit {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Futura Medium;
  color: #ffffff;
  font-size: 18px;
  background: #27b5aa;
  padding: 10px 20px 10px 16px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

#signupsubmit:hover {
  background: #27b5aa;
  background-image: -webkit-linear-gradient(top, #27b5aa, #a4dce8);
  background-image: -moz-linear-gradient(top, #27b5aa, #a4dce8);
  background-image: -ms-linear-gradient(top, #27b5aa, #a4dce8);
  background-image: -o-linear-gradient(top, #27b5aa, #a4dce8);
  background-image: linear-gradient(to bottom, #27b5aa, #a4dce8);
  text-decoration: none;
  border: solid #1f628d 0px;
}


#searchsubmit {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Futura Medium;
  color: #ffffff;
  font-size: 18px;
  background: #27b5aa;
  padding: 10px 20px 10px 16px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

#searchsubmit:hover {
  background: #27b5aa;
  background-image: -webkit-linear-gradient(top, #27b5aa, #a4dce8);
  background-image: -moz-linear-gradient(top, #27b5aa, #a4dce8);
  background-image: -ms-linear-gradient(top, #27b5aa, #a4dce8);
  background-image: -o-linear-gradient(top, #27b5aa, #a4dce8);
  background-image: linear-gradient(to bottom, #27b5aa, #a4dce8);
  text-decoration: none;
  border: solid #1f628d 0px;
}


#browsesubmit {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Futura Medium;
  color: #ffffff;
  font-size: 18px;
  background: #f16321;
  padding: 10px 20px 10px 16px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

#browsesubmit:hover {
  background: #f16321;
  background-image: -webkit-linear-gradient(top, #f16321, #f9aa79);
  background-image: -moz-linear-gradient(top, #f16321, #f9aa79);
  background-image: -ms-linear-gradient(top, #f16321, #f9aa79);
  background-image: -o-linear-gradient(top, #f16321, #f9aa79);
  background-image: linear-gradient(to bottom, #f16321, #f9aa79);
  text-decoration: none;
  border: solid #f16321 0px;
}

#browsesubmit {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Futura Medium;
  color: #ffffff;
  font-size: 18px;
  background: #f16321;
  padding: 10px 20px 10px 16px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

#browsesubmit:hover {
  background: #f16321;
  background-image: -webkit-linear-gradient(top, #f16321, #f9aa79);
  background-image: -moz-linear-gradient(top, #f16321, #f9aa79);
  background-image: -ms-linear-gradient(top, #f16321, #f9aa79);
  background-image: -o-linear-gradient(top, #f16321, #f9aa79);
  background-image: linear-gradient(to bottom, #f16321, #f9aa79);
  text-decoration: none;
  border: solid #f16321 0px;
}



label.myLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}

.myLabel {
    -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Futura Medium;
  color: #ffffff;
  font-size: 18px;
  background: #f16321;
  padding: 10px 20px 10px 16px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

.myLabel:hover {
  background: #f16321;
  background-image: -webkit-linear-gradient(top, #f16321, #f9aa79);
  background-image: -moz-linear-gradient(top, #f16321, #f9aa79);
  background-image: -ms-linear-gradient(top, #f16321, #f9aa79);
  background-image: -o-linear-gradient(top, #f16321, #f9aa79);
  background-image: linear-gradient(to bottom, #f16321, #f9aa79);
  text-decoration: none;
  border: solid #f16321 0px;
}
.myLabel:active {
   background: #f16321;
}
.myLabel :invalid + span {
    color: #ffffff;
}
.myLabel :valid + span {
     color: #ffffff;
}


#previewsubmit {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Futura Medium;
  color: #ffffff;
  font-size: 18px;
  background: #6ec5f0;
  padding: 10px 20px 10px 16px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

#previewsubmit:hover {
  background: #6ec5f0;
  background-image: -webkit-linear-gradient(top, #6ec5f0, #7c87bb);
  background-image: -moz-linear-gradient(top, #6ec5f0, #7c87bb);
  background-image: -ms-linear-gradient(top, #6ec5f0, #7c87bb);
  background-image: -o-linear-gradient(top, #6ec5f0, #7c87bb);
  background-image: linear-gradient(to bottom, #6ec5f0, #7c87bb);
  text-decoration: none;
  border: solid #1f628d 0px;
}


#uploadsubmit {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Futura Medium;
  color: #ffffff;
  font-size: 18px;
  background: #14478e;
  padding: 10px 20px 10px 16px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

#uploadsubmit:hover {
  background: #14478e;
  background-image: -webkit-linear-gradient(top, #14478e, #7c87bb);
  background-image: -moz-linear-gradient(top, #14478e, #7c87bb);
  background-image: -ms-linear-gradient(top, #14478e, #7c87bb);
  background-image: -o-linear-gradient(top, #14478e, #7c87bb);
  background-image: linear-gradient(to bottom, #14478e, #7c87bb);
  text-decoration: none;
  border: solid #1f628d 0px;
}

#cancelsubmit {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Futura Medium;
  color: #ffffff;
  font-size: 18px;
  background: #ee4552;
  padding: 10px 20px 10px 16px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

#cancelsubmit:hover {
  background: #ee4552;
  background-image: -webkit-linear-gradient(top, #ee4552, #f79c95);
  background-image: -moz-linear-gradient(top, #ee4552, #f79c95);
  background-image: -ms-linear-gradient(top, #ee4552, #f79c95);
  background-image: -o-linear-gradient(top, #ee4552, #f79c95);
  background-image: linear-gradient(to bottom, #ee4552, #f79c95);
  text-decoration: none;
  border: solid #1f628d 0px;
}



#recommendsubmit {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Futura Medium;
  color: #ffffff;
  font-size: 18px;
  background: #27b5aa;
  padding: 10px 20px 10px 16px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

#recommendsubmit:hover {
  background: #27b5aa;
  background-image: -webkit-linear-gradient(top, #27b5aa, #a4dce8);
  background-image: -moz-linear-gradient(top, #27b5aa, #a4dce8);
  background-image: -ms-linear-gradient(top, #27b5aa, #a4dce8);
  background-image: -o-linear-gradient(top, #27b5aa, #a4dce8);
  background-image: linear-gradient(to bottom, #27b5aa, #a4dce8);
  text-decoration: none;
  border: solid #1f628d 0px;
}



#granttrustsubmit {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Futura Medium;
  color: #ffffff;
  font-size: 18px;
  background: #27b5aa;
  padding: 10px 20px 10px 16px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

#granttrustsubmit:hover {
  background: #27b5aa;
  background-image: -webkit-linear-gradient(top, #27b5aa, #a4dce8);
  background-image: -moz-linear-gradient(top, #27b5aa, #a4dce8);
  background-image: -ms-linear-gradient(top, #27b5aa, #a4dce8);
  background-image: -o-linear-gradient(top, #27b5aa, #a4dce8);
  background-image: linear-gradient(to bottom, #27b5aa, #a4dce8);
  text-decoration: none;
  border: solid #1f628d 0px;
}

#thanksubmit {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Futura Medium;
  color: #ffffff;
  font-size: 18px;
  background: #27b5aa;
  padding: 10px 20px 10px 16px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

#thanksubmit:hover {
  background: #27b5aa;
  background-image: -webkit-linear-gradient(top, #27b5aa, #a4dce8);
  background-image: -moz-linear-gradient(top, #27b5aa, #a4dce8);
  background-image: -ms-linear-gradient(top, #27b5aa, #a4dce8);
  background-image: -o-linear-gradient(top, #27b5aa, #a4dce8);
  background-image: linear-gradient(to bottom, #27b5aa, #a4dce8);
  text-decoration: none;
  border: solid #1f628d 0px;
}

