@charset "UTF-8";
/* CSS Document */

mainBody 
{
	font-family: "Helvetica Neue Light";
	font-size: 12px;
	font-weight: normal;
	font-variant: normal;
	color: #666;
}

.PractitionerHeadings 
{
	color: #000;
	font-family: "Futura Medium";
	font-size: 24px;
	font-weight: bold;
}

.PractitionerSubHeadings 
{
	color: #000;
	font-family: "Futura Medium";
	font-size: 16px;
	font-weight: normal;
}

.PractitionerName
{
	color: #000;
	font-family: "Helvetica Neue Light";
	font-size: 14px;
	font-weight: normal;
	height: 20px;
}


.PractitionerMainText
{
	color: #666;
	font-family: "Helvetica Neue Light";
	font-size: 14px;
	font-weight: normal;
}

.hyperlinks 
{
	font-family: "Helvetica Neue Light";
	font-size: 12px;
	color: #195297;
}

.footerText
{
	font-family: "Helvetica Neue Light";
	font-size: 12px;
	color: #666;
}
	

.copyrightText
{
	font-family: "Helvetica Neue Light";
	font-size: 12px;
	color: #666;
}
.PractitionerPublicFacingTabWrapper 
{
	float: left;
	width: 98%;
	border: thin solid #666;
	background-color: #FFF;
	bottom: 5px;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left:5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	padding: 5px;
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #F0F0F0 0%, #F5F6F7 100%);
	/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #F0F0F0 0%, #F5F6F7 100%);
	/* Opera */ 
background-image: -o-linear-gradient(top, #F0F0F0 0%, #F5F6F7 100%);
	/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F0F0F0), color-stop(1, #F5F6F7));
	/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #F0F0F0 0%, #F5F6F7 100%);
	/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #F0F0F0 0%, #F5F6F7 100%);
}

.ContentColumn{
	float:left;
	margin-left: 13px;
	margin-right: 12px;
}
.stdWrapper {
	border: thin solid #666;
	background-color: #F0F0F0;
	bottom: 5px;
	margin-bottom: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	padding: 5px;
	
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #F0F0F0 0%, #F5F6F7 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #F0F0F0 0%, #F5F6F7 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #F0F0F0 0%, #F5F6F7 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F0F0F0), color-stop(1, #F5F6F7));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #F0F0F0 0%, #F5F6F7 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #F0F0F0 0%, #F5F6F7 100%);

}
.narrowWrapper{	
	width: 250px;
	height: 250px;
	float: left;
	margin: 20px 0px 20px 48px;
}
.PractitionerBodyWrapper {
	width: 100%;
	background-color: #FFF;
	padding: 5px;
	margin-bottom: 5px;
	border: thin solid #666;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	padding: 5px;
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #F0F0F0 0%, #F5F6F7 100%);
	/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #F0F0F0 0%, #F5F6F7 100%);
	/* Opera */ 
background-image: -o-linear-gradient(top, #F0F0F0 0%, #F5F6F7 100%);
	/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F0F0F0), color-stop(1, #F5F6F7));
	/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #F0F0F0 0%, #F5F6F7 100%);
	/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #F0F0F0 0%, #F5F6F7 100%);
}
.PractitionerNameWrapper {
	width: 200px;
	height: 20px;
}
.PractitionerPhotoWrapper {
	height: 170px;
	background-color: #FFF;
	padding: 5px;
	margin-bottom: 5px;
	border: thin solid #666;
	bottom: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	padding: 5px;
	margin: 5px;
	left: 5px;
	top: 5px;
	right: 5px;
	clip: rect(5px,5px,5px,5px);
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #F0F0F0 0%, #F5F6F7 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #F0F0F0 0%, #F5F6F7 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #F0F0F0 0%, #F5F6F7 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F0F0F0), color-stop(1, #F5F6F7));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #F0F0F0 0%, #F5F6F7 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #F0F0F0 0%, #F5F6F7 100%);
}
.PractitionerSubHeadingWrapper {
	width: 100%;
}
.PractitionerHeadingWrapper {
	width: 100%;
	height: 40px;
}