

        TEXTAREA { width: 80%;}
        FIELDSET { border: 1px solid #ccc; padding: 1em; margin: 0; }
        LEGEND { color: #ccc; font-size: 120%; }
 /*      INPUT, TEXTAREA { font-family: Arial, verdana; font-size: 125%; padding: 7px; }  */

        INPUT, TEXTAREA { font-family: Helvetica Neue Light; font-size: 125%; padding: 7px; }

       LABEL { display: block; margin-top: 10px; }


       h2 {
           margin: 0;
       }

       .drawers-wrapper {
           position: relative;
           width: 188px;
           margin-right: 10px;
           margin-top: 40px;
       }

       .drawer {
           background:transparent url(http://images.apple.com/downloads/images/sideboxlight_bg20070611.gif) repeat-y scroll 0pt;
           color:#76797C;
           font-size:11px;
           line-height:1.3em;
       }

       .boxcap {
           height:5px;
           left:0pt;
           position:absolute;
           width:100%;
           z-index:1;
           background:transparent url(../images/sidenav_capbottom.png) no-repeat scroll 0%;
           margin-top:-5px;
       }

       .captop {
           background-image:url(http://images.apple.com/downloads/images/box_188captop.png);
           bottom:auto;
           top:0pt;
           margin-top:0;
       }

       .drawers {
           margin-bottom:15px;
           color:#76797C;
           font-size:11px;
           line-height: 18px;
       }

       .drawers A {
           color:#666666;
           text-decoration:none;

         /*  font-family:"Lucida Grande",Geneva,Arial,Verdana,sans-serif; */

           font-family:"Helvetica Neue Light";


           font-size-adjust:none;
           font-style:normal;
           font-variant:normal;
           font-weight:normal;
       }

       .drawer li {
           border-bottom:1px solid #E5E5E5;
           line-height:16px;
           padding:6px 0pt;
           display: none;
       }

       UL {
           list-style: none;
           padding: 0;
       }

       UL.drawers {
           margin: 0;
       }

       .drawer-handle {
           background:#939393 url(../images/slider_handlebg188.png) no-repeat scroll 0pt;
           color:#333333;
           cursor:default;
           font-size:12px;
           font-weight:normal;
           height:25px;
           line-height:25px;
           margin-bottom:0pt;
           text-indent:15px;
           width:100%;
       }

       .drawer-handle.open {
           background-color:#72839D;
           background-position:-188px 0pt;
           color:#FFFFFF;
       }

       .drawer UL {
           padding: 0 12px;
           padding-bottom:0pt;
       }

       .drawer-content UL {
           padding-top: 7px;
       }

       .drawer-content LI A {
           display:block;
           overflow:hidden;
       }

       .alldownloads li {
           border:0pt none;
           line-height:18px;
           padding:0pt;
       }