#container
{
	width: 980px;
	min-height: 400px;
	padding: 100px 0px;
	margin: 0px auto;
}
#footer
{
	margin: 0px auto;
	width: 980px;
	min-height: 30px;
	background: #fff;
    position: relative;
	color: rgb(115, 115, 115);
	font-size: 11px;
	float: left;
}
#FeaturedRegistration
{
	width: 550px;
	float: left;
}
.signupForm{
	padding: 0px 0px 0px 15px;
	width: 383px;
	float: left;
	margin: 0px 40px 0px 40px;

}
#contentCurve {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(204, 204, 204);
    height: 8px;
    font-size: 1px;

}
.topBar {

    height: 83px;
    background: #195297;
    top: 0;
    left: 0;
	padding-top:5px;
	padding-bottom:3px;
    width: 100%;
    background-position: center;
    position: fixed;
    float: left;
	z-index:10;
    font-size: 14px !important;

  background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgba(255,255,255,.5)), color-stop(1, rgba(0,0,0,0.1)) );
	background-image: -moz-linear-gradient( center top, rgba(255,255,255,.5) 0%, rgba(0,0,0,.1) 100% );
	color: #f4f4f4;
	color: rgba(255, 255, 255, 0.8);
	display: block;

  /*  font: "Myriad Pro","Lucida Grande",Helvetica,Arial,sans-serif; */

    font: "Helvetica Neue Light";

	outline: none;
	padding: 5px 15px;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);

}

.topBar {

    height: 83px;
    background: #195297;
    top: 0;
    left: 0;
    padding-top:5px;
    padding-bottom:3px;
    width: 100%;
    background-position: center;
    position: fixed;
    float: left;
    z-index:10;


    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgba(255,255,255,.5)), color-stop(1, rgba(0,0,0,0.1)) );
    background-image: -moz-linear-gradient( center top, rgba(255,255,255,.5) 0%, rgba(0,0,0,.1) 100% );
    color: #f4f4f4;
    color: rgba(255, 255, 255, 0.8);
    display: block;

    /*  font: "Myriad Pro","Lucida Grande",Helvetica,Arial,sans-serif; */

    font: "Helvetica Neue Light";

    outline: none;
    padding: 5px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);

}

.bar_frame{
    width: 980px;
    margin: 0 auto;
}

.w_logo{
	float:left;
	margin:10px;
}
.lfloat{
	float:left;
}

.div_login{
	padding-top: 3px;
	top: 20px;
	float:right;
}


label
{
    font-size: 14px;
}


.div_login table tr {
    vertical-align: middle;
}
.div_login label {
    color: rgb(255, 255, 255);
    font-weight: normal;
    padding-left: 1px;
}
.signupForm label {
    color: rgb(14, 56, 95);
    font-size: 15px;
    padding-left: 1px;
    font-family: "Futura Medium";
}
.signupForm .label {
    color: rgb(29, 42, 91);
    text-align: right;
    padding-right: 3px;
    width: 105px;
    font-family: "Futura Medium";
}
.signupForm  input {
    padding: 6px;
    font-size: 15px;
    width: 250px;
	margin: 2px;
    font-family: "Helvetica Neue Light";
}
.signupForm  select {
    padding: 6px;
    font-size: 14px;
	margin: 2px;
    font-family: "Helvetica Neue Light";
}

textarea, .inputtext, .inputpassword {
}

#navSearch {
	margin: 3px 0 0 4px;
	position: relative;
	width: 350px;
	float: left;
	padding: 0;
}
.uiTypeahead {
	background:
	white;
	border: solid
	#2bbb38;
	border-width: 1px 0;
	cursor: default;
	position: relative;
}
.bold {
    font-weight: bold;
}
.fBig {
    font-size: 18px;
}
.fMid {
    font-size: 15px;
}
.fSma {
    font-size: 11px;
}
.fcg {
    color: ;
}
.fColor{
    color: rgb(14, 56, 95);
}
.marBotSmall {
    margin-bottom: 5px;
}
.marBotBig {
    margin-bottom: 10px;
}
.headerTextContainer{
	border-bottom: 1px solid rgb(154, 175, 202);
}
label.error, #errMsg{
	color: rgb(255,0,0);
}
#footer .navigation {
    text-align: right;
}
body {
	font-size: 12px;

/*	font-family: "lucida grande",tahoma,verdana,arial,sans-serif; */

    font-family: "Helvetica Neue Light";
	color:
	#333;
	line-height: 1.28;
	text-align: left;
	direction: ltr;
    margin: 0px;
	padding: 0px;
}

/*contact form*/
#mask {
background-color:#000;
display:none;
height:100%;
left:0;
position:absolute;
top:0;
width:100%;
z-index:9000;
}

#contact, #about, #faqPage {
background-color:#fff;
display:none;
left:50%;
margin-left:-300px;
position:absolute;
top:50px;
width:600px;
z-index:9999;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
padding:20px;
max-height:70%;
overflow:auto;
}

#contact #close,#about #close , #faqClose {
background:url(../images/close.png) no-repeat right;
background-size:24px 24px;
cursor:pointer;

/* font-family:arial, sans-serif; */

    font-family:Helvetica Neue Light;



font-size:20px;
font-weight:700;
height:24px;
line-height:24px;
text-decoration:underline;
text-align:right;
padding:0px 24px 0px 5px;
font-size:10px;
}

#contact_header, #faq_header  {
background:url(../images/WotmedLogoMedium.jpg) no-repeat left top;
background-size:150px;
font-family:Helvetica Neue Light;
font-size:30px;
font-weight:700;
line-height:50px;
padding:5px 5px 0px 0px;
margin-left:0px;
width:320px;
}

/* form components */
#contact input,textarea {
border:1px solid silver;
background-color:#ffffff;
<!--color:#404040; -->
    backgroundcolor:#ffffff;
font-size:10px;
font-family:Helvetica Neue Light;
<!-- text-transform:uppercase; -->
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
margin:10px 0;
padding:10px;
}

#contact input:hover[type=text],#contact input:focus[type=text],textarea:hover,textarea:focus {
background-color:#E0E0E0;
border:1px solid #000;
}

#contact input[type=text],textarea {
width:300px;
}

#contact #submit {
width:87px;
height:41px;
}

#contact #submit:hover {
cursor:pointer;
}

/* alert messages
#contact, .success,.error {
color:#000;
display:none;
font-size:15px;
font-weight:700;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
padding:5px 10px 5px 10px;
margin-bottom: 10px;
}

#contact, .success {
background-color:#9F6;
border:1px solid #0F0;
}

#contact, .error {
background-color:#F66;
border:1px solid red;
}*/


.Indices{
	display:none;
	background-color:#FFF;
	width:500px;
	padding:10px;
	border:2px solid rgb(16,93,87);
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	z-index:1;
}
#contactCorner{
	position:fixed;
	right:0px;
	bottom:0px;
}