#container
{
    width: 980px;
    min-height: 400px;
    padding: 100px 0px;
    margin: 0px auto;
}
#footer
{
    margin: 0px auto;
    width: 980px;
    background: #fff;
    position: relative;
    color: rgb(115, 115, 115);
    font-size: 11px;
    float: left;
}
#FeaturedRegistration
{
    width: 550px;
    float: left;
}
#mainLogin{
    margin: 30px auto;
    width: 600px;
    border: 1px solid rgb(204, 204, 204);
    padding: 20px;
}
#contentCurve {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(204, 204, 204);
    height: 8px;
    font-size: 1px;
}
#errorMessage{
    background-color: rgb(255, 235, 232);
    border: 1px solid rgb(221, 60, 16);
    padding: 10px;
    margin: 10px auto;
}
.topBar {
    height: 83px;
    background: rgb(25,82,151);
    top: 0;
    left: 0;
    padding-top:5px;
    padding-bottom:3px;
    width: 100%;
    background-position: center;
    position: fixed;
    float: left;
    z-index:10;


    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgba(255,255,255,.5)), color-stop(1, rgba(0,0,0,0.1)) );
    background-image: -moz-linear-gradient( center top, rgba(255,255,255,.5) 0%, rgba(0,0,0,.1) 100% );
    color: #f4f4f4;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font: Helvetica Neue Light;
    outline: none;
    padding: 5px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
}

.bar_frame{
    width: 980px;
    margin: 0 auto;
}

.w_logo{
    float:left;
}
.lfloat{
    float:left;
}

.div_login{
    padding-top: 13px;
    top: 20px;
    float:right;
}
.div_login table tr {
    vertical-align: middle;
}
.div_login label {
    color: rgb(255, 255, 255);
    font-weight: normal;
    padding-left: 1px;
}
#mainLogin label {
    color: rgb(14, 56, 95);
    font-size: 13px;
    padding-left: 1px;
}
#mainLogin .label {
    color: rgb(29, 42, 91);
    text-align: right;
    padding-right: 3px;
    width: 105px;
}
#mainLogin  input {
    padding: 6px;
    font-size: 16px;
    width: 250px;
    margin: 2px;
}
#mainLogin  select {
    padding: 6px;
    font-size: 13px;
    margin: 2px;
}

textarea, .inputtext, .inputpassword {
    border: 1px solid rgb(189, 199, 216);
    font-family: Helvetica Neue Light;
    font-size: 11px;
    margin: 0px;
    padding: 3px;
}

#navSearch {
    margin: 3px 0 0 4px;
    position: relative;
    width: 350px;
    float: left;
    padding: 0;
}
.uiTypeahead {
    background:
    white;
    border: solid
    #2bbb38;
    border-width: 1px 0;
    cursor: default;
    position: relative;
}
.bold {
    font-weight: bold;
}
.fBig {
    font-size: 18px;
}
.fMid {
    font-size: 15px;
}
.fSma {
    font-size: 11px;
}
.fcg {
    color: ;
}
.fColor{
    color: rgb(14, 56, 95);
}
.marBotSmall {
    margin-bottom: 5px;
}
.marBotBig {
    margin-bottom: 10px;
}
.headerTextContainer{
    border-bottom: 1px solid rgb(154, 175, 202);
}
.loginTable{
    margin-left: 67px;
}
#footer .navigation {
    text-align: right;
}
body {
    font-size: 11px;
    font-family: Helvetica Neue Light;
    color:
    #333;
    line-height: 1.28;
    text-align: left;
    direction: ltr;
    margin: 0px;
    padding: 0px;
}