a{
	/*pointer-events: none;*/
}
#container
{
	margin: 0px auto;			/*	margin between top of practitioners profile and wotmed logo and logout button			*/		
	padding-top: 30px;			/*	padding between top of practitioners profile whitespace and grey background			*/	
	width: 1022px;				/*  width of practitioners profile */
	min-height: 600px;
}
#subcontainer{
/*	background: #ffffff;		/* background colour of entire left section and entire right section of practitioners profile */
	
	background: #ffffff;		/* background colour of entire left section and entire right section of practitioners profile NEW LOOK AND FEEL COLOURS 1ST FEB 2015*/
	
	float:left;
	padding: 10px;				/* padding space between elements on the practitioners profile page */

	box-shadow: 10px 10px 5px #888888;		/* colour of box shadow highlight far right side of practitioners profile before gray */
	
	
/*	box-shadow: 10px 10px 5px #9cbff7;		/* colour of box shadow highlight far right side of practitioners profile before gray NEW LOOK AND FEEL COLOURS 1ST FEB 2015*/
	
	
	border: 1px solid #555;				/* border size and colour */
	margin-bottom:20px;
}
#footer
{
	margin: 0px auto;			/* footer margin */
	margin-bottom:0px;
	width: 980px;
	min-height: 30px;
	background: #fff;
    position: relative;
	color: rgb(115, 115, 115);
	font-size: 11px;
	float: left;
}
.center{
	margin: auto;
	padding-left: 300px;
	padding-top: 100px;
	padding-bottom: 100px;
}
.topBar {
    background: #195297;		/* colour of top menu bar */
	
/*	background:#4d5f7b;		/* colour of top menu bar NEW LOOK AND FEEL COLOURS 1ST FEB 2015*/
	
    top: 0;
    left: 0;
    height: 30px; 
	padding-top:5px;
	padding-bottom:3px;
    width: 100%;
    background-position: center;
    position: fixed;
    float: left;
	z-index:10;
	
	
  background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgba(255,255,255,.5)), color-stop(1, rgba(0,0,0,0.1)) );
	background-image: -moz-linear-gradient( center top, rgba(255,255,255,.5) 0%, rgba(0,0,0,.1) 100% );
	color: #f4f4f4;
	color: rgba(255, 255, 255, 0.8);
	display: block;

/*	font: "Myriad Pro","Lucida Grande",Helvetica,Arial,sans-serif; */

    font: Futura Medium; /* font based on Skye style*/


outline: none;
	padding: 5px 15px;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
}
a:hover{
	text-decoration: underline;
}
a{
	text-decoration: none;
	color: rgb(0,0,255);
}
.bar_frame{
    width: 1050px;
    margin: 0 auto;
}

body {
	font-size: 12px;		/* text size */
/*	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;	/* font for body text*/

    font-family: Helvetica Neue Light   /* font for body text based on Skye style*/

	color: #333;		/* text colour */
	line-height: 1.28;
	text-align: left;
	direction: ltr;
    margin: 0px;
	padding: 0px;
 	background-color:#AAA;	/* grey background colour */
	
/*	background-color:#9cbff7;	/* sky blue background colour NEW LOOK AND FEEL COLOURS 1ST FEB 2015*/
}
#navSearch {
	margin: 3px 0 0 4px;
	position: relative;
	width: 350px;
	float: left;
	padding: 0;
}
#contentCurve {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(204, 204, 204);
    height: 0px;
    font-size: 1px;
}
#leftProfPic {
	width: auto;
	margin: auto;
}
#leftCol {
	float: left;
	padding: 20px 0 0 2px;
	width: 179px;
}
#contentMain{
	background-color: rgb(255,255,255);
	margin-left: 16px;
	min-height: 600px;
	padding-left: 0px;
	padding-right: 0px;
	width: 503px;
}
#rightCol{
	min-height: 600px;
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	width: 291px;
}
#noticeDiv{
	background-color: rgb(242, 242, 242);
    border-width: 0px 0px 1px 0px;
    border-style: dashed solid;
    border-color: rgb(183, 193, 215);
}
#uploadPhotoDiv{
	padding: 40px;
	display:none;
}
.uiTypeahead {
	background: 
	white;
	border: solid 
	#2bbb38;
	border-width: 1px 0;
	cursor: default;
	position: relative;
}
.fBig {
    font-size: 18px;
}
.fMid {
    font-size: 13px;
}
.fSma {
    font-size: 11px;
}
.bold {
    font-weight: bold;
}
.fcg {
    color: rgb(14, 56, 95);
}
.marTopBig {
    margin-top: 15px;
}
.marBotSmall {
    margin-bottom: 5px;
}
.marBotBig {
    margin-bottom: 10px;
}
.lfloat{
	float:left;
}
.rfloat{
	float:right;
}
.healthBar{
	background-color:#b0c4de;;
}
#footer .navigation {
    text-align: right;
}
#skypedetectionswf{
	display:none;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
}

#nav a{
	color: #D8DFEA;
	font-weight: bold;
	cursor: pointer;
	display: inline-block;
	height: 30px;
	line-height: 29px;
	position: relative;
	text-decoration: none;
	vertical-align: top;
}
.topBar a:hover,.topBar a:focus{
    background-color: #195297;
}
#nav .tinyPhoto{
	margin: 3px 5px 3px 3px;
}
#nav .smallName {
	max-width: 175px;
	overflow: hidden;
	padding-right: 8px;
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
}
#overlayPhoto {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 99;
	 background-image:url(../images/trans.png);
	 -moz-box-shadow: 0px 0px 3px #8a8a8a;
	 -webkit-box-shadow: 0px 0px 3px #8a8a8a;
	 box-shadow: 0px 0px 3px #8a8a8a;
}
#overlayPhoto #overlayContent {
     width:	900px;
     margin: 50px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}
#shareMedia {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 99;
	 background-image:url(../images/trans.png);
	 -moz-box-shadow: 0px 0px 3px #8a8a8a;
	 -webkit-box-shadow: 0px 0px 3px #8a8a8a;
	 box-shadow: 0px 0px 3px #8a8a8a;
}
#shareMedia #shareMediaContent {
     width:	900px;
     margin: 50px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
}
#bar_blank {
  border: solid 1px #000;
  height: 20px;
  width: 300px;
}
 
#bar_color {
  background-color: #195297;
  height: 20px;
  width: 0px;
}
 
#bar_blank, #hidden_iframe {
  display: none;
}
.myselect {
width:200px;}
.myselect option{
width:200px;} 



.tinyDiv
{
    width:25px;
    height:25px; 
    display:block; 
    position:relative;
    overflow:hidden;
	float:left;
}
.tinyDiv img 
{
    position:absolute;
    top:0;
    left:0; 
    max-width:25px;
	max-height:25px;
}
.profPicDiv
{
    width:178px;
    height:175px; 
    display:block; 
    overflow:hidden;
	float:left;
	text-align:center;
}
.profPicDiv img 
{ 
    max-height:175px;
}
.headerDetDiv
{
    width:100%;
    height:175px; 
    display:block; 
    position:relative;
    overflow:hidden;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}
.headerDetDiv img 
{
    position:absolute;
    top:0;
    left:0; 
    height:120px;
}
.pracListDic
{
    width:50px;
    height:50px; 
    display:block; 
    position:relative;
    overflow:hidden;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	text-align:center;
}
.pracListDic img 
{
    max-height:50;
}
/*contact form*/
#mask {
background-color:#000;
display:none;
height:100%;
left:0;
position:absolute;
top:0;
width:100%;
z-index:9000;
}

#contact,#contactUser, #about,#recommend,#thanks,#faqPage {
background-color:#fff;
display:none;
left:50%;
margin-left:-300px;
position:absolute;
top:50px;
max-width:630px;
z-index:9999;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
padding:20px;
max-height:70%;
overflow:auto;
}

#contact #close,#contactUser #close,#about #close,#recommend #close,#thanks #close, #faqClose {
background:url(../images/close.png) no-repeat right;
background-size:24px 24px;
cursor:pointer;
font-family:Helvetica Neue Light;
font-size:20px;
font-weight:700;
height:24px;
line-height:24px;
text-decoration:underline;
text-align:right;
padding:0px 24px 0px 5px;
font-size:10px;
}

#contact_header, #faq_header {
background:url(../images/WotmedLogoMedium.jpg) no-repeat left top;
background-size:150px;
font-family:Helvetica Neue Light;
font-size:30px;
font-weight:700;
line-height:50px;
padding:5px 5px 0px 0px;
margin-left:0px;
width:320px;
}

/* form components */
#contact input,#contact textarea,#contactUser input,#contactUser textarea  {
border:1px solid silver;
background-color:#fff;
color:#404040;
font-size:10px;
font-family:Helvetica Neue Light;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
margin:10px 0;
padding:10px;
}

#contact input:hover[type=text],#contact input:focus[type=text],#contact textarea:hover,#contact textarea:focus {
background-color:#E0E0E0;
border:1px solid #000;
}

#contact input[type=text],#contact textarea {
width:300px;
}

#contact #submit {
width:87px;
height:41px;
}

#contact #submit:hover,#contactUser #submit:hover {
cursor:pointer;
}

/* alert messages 
#contact, .success,.error {
color:#000;
display:none;
font-size:15px;
font-weight:700;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
padding:5px 10px 5px 10px;
margin-bottom: 10px;
}

#contact, .success {
background-color:#9F6;
border:1px solid #0F0;
}

#contact, .error {
background-color:#F66;
border:1px solid red;
}*/

.Indices{
	display:none;
	background-color:#FFF;
	width:500px;
	padding:10px;
	border:2px solid rgb(50,81,153);
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	z-index:1;
}
#contactCorner{
	position:fixed;
	right:0px;
	bottom:0px;
}
#userInfo{
	height:auto;
	overflow:hidden;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
	min-height:230px;
}
/*
#userInfo:hover{
	opacity:1;
	height:auto;
}*/
.gborder{
	border:1px solid #AAA;
	padding:3px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

/*----------------------------------PROGRESS BAR----------------------------------*/
@-webkit-keyframes animate-stripes {
  from {
    background-position: 0 0;
  }

  to {
   background-position: 44px 0;
  }
}      

.ui-progress-bar {
  position: relative;
  height: 23px;
  padding-right: 2px;
  background-color: #abb2bc;
  border-radius: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b6bcc6), color-stop(1, #9da5b0));
  background: -moz-linear-gradient(#9da5b0 0%, #b6bcc6 100%);
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;
  -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;
  margin-top: 3em;
  margin-bottom: 3em;
}        

.ui-progress {
  position: relative;
  display: block;
  overflow: hidden;
  height: 20px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  -webkit-background-size: 44px 44px;
  background-color: #36bcb2;
  background: -webkit-gradient(linear, 0 0, 44 44,
    color-stop(0.00, rgba(255,255,255,0.17)),
    color-stop(0.25, rgba(255,255,255,0.17)),
    color-stop(0.26, rgba(255,255,255,0)),
    color-stop(0.50, rgba(255,255,255,0)),
    color-stop(0.51, rgba(255,255,255,0.17)),
    color-stop(0.75, rgba(255,255,255,0.17)),
    color-stop(0.76, rgba(255,255,255,0)),
    color-stop(1.00, rgba(255,255,255,0))
  ), -webkit-gradient(linear, left bottom, left top, color-stop(0, #74d04c), color-stop(1, #9bdd62));
  background: -moz-repeating-linear-gradient(top left -30deg,
    rgba(255,255,255,0.17),
    rgba(255,255,255,0.17) 15px,
    rgba(255,255,255,0) 15px,
    rgba(255,255,255,0) 30px
  ), -moz-linear-gradient(#9bdd62 0%, #74d04c 100%);
  -webkit-box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
  -moz-box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
  box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
  border: 1px solid #325199;
  -webkit-animation: animate-stripes 2s linear infinite;
  
  font-size: 15px;
  position: absolute;
  padding-right: 12px;
  color: rgba(255,255,255,0.6);
  text-shadow: rgba(255,255,255, 0.45) 0 1px 0px;
  white-space: nowrap;
  text-align:center;
}
/*----------------------------------PROGRESS BAR----END---------------------------*/

.videoLength{
	right:4px;
	bottom:3px;
	position:absolute;
	color:#FFF;
	background-color:#000;
	font-weight:bold;
	padding:2px;
	opacity:0.6;
}

#trustIndex{
	padding-right:5px;
}