#dataGrid{
  margin:auto;
  padding:40px;
  float:left;
  width:850px;
}
 
.thumb{
  width: 175px;
  height: 175px;
  clear: none;
  margin: 5px;
  float:left;
}
 
.clip {
    position: absolute;
    clip:rect(0px 175px 175px 0px);
}
 
.pagination{
    padding: 2px;
}
 
.pagination ul{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
}
 
.pagination li{
    list-style-type: none;
    display: inline;
    padding-bottom: 1px;
}
 
.pagination a, .pagination a:visited{
    padding: 0 5px;
    border: 1px solid #9aafe5;
    text-decoration: none;
    color: #2e6ab1;
}
 
.pagination a:hover, .pagination a:active{
    border: 1px solid #2b66a5;
    color: #000;
    background-color: #FFFF80;
}

section.blurb .box{
    padding:0;
}
/ styling of the container. /
a.myPlayer {
    display:block;
    width:320px;
    height:240px;
    text-align:center;
    margin:15px;
    float:left;
    border:1px solid #999;
}
 
/ play button /
a.myPlayer img {
    margin-top:70px;
	padding: 50px;
    border:0px;
}
 
/ when container is hovered we alter the border color /
a.myPlayer:hover {
    border:1px solid #000;
}