@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo'), url(http://themes.googleusercontent.com/static/fonts/arimo/v6/f7NLmE8ZqL29q_F8kLE2s6CWcynf_cDxXwCLxiixG1c.woff) format('woff');
}
