
<!-- 3 columns -->
<table width='100%' bgcolor='#f7f7f7' cellpadding='0' cellspacing='0' border='0' id='backgroundTable'>
    <tbody>
    <tr>
        <td>
            <table width='600' cellpadding='0' cellspacing='0' border='0' align='center' class='devicewidth'>
                <tbody>
                <tr>
                    <td width='100%'>
                        <table width='600' cellpadding='0' cellspacing='0' border='0' align='center' class='devicewidth'>
                            <tbody>
                            <tr>
                                <td>
                                        <tr>
                                            <td width='186' height='250' align='center' class='devicewidth'>
                                            <p>Drivers Licence Scanned Image</p><BR>
                                    <img src='http://platform.wotmed.com/ImageUpload/uploads/creditapplications/ThumbMessage.png' alt='Drivers Licence' border='0' style='display:block; border:none; outline:none; text-decoration:none;'><BR><BR>

                                   <p>Passport Scanned Image</p><BR>
                                    <img src='http://platform.wotmed.com/ImageUpload/uploads/creditapplications/ThumbClarkeBenz2.png' alt='Passport' border='0' style='display:block; border:none; outline:none; text-decoration:none;'><BR><BR>

                                            </td>
                                        </tr>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<!-- end of 3 columns -->

