@import url(//fonts.googleapis.com/css?family=Open+Sans:600,400);


.row_2a div {
  float: left;
  clear: none; 

}

.row_2b div {


}

.VideoContainer {


}

/*------ template stylization ------*/
a[href^="tel:"] {
	color: inherit;
	text-decoration: none;
}


#iphone{
	/* The iphone frame div */
	width:750px;
	height:400px;
	background:url('img/iphone_4G.png') no-repeat center center;
	position:relative;
}

#webpage{
	/* Contains the webpage screenshot */
	width:499px;
	height:283px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-141px 0 0 -249px;
}

#retina{
	/* The Retina effect */
	background:url('img/webpage.png') no-repeat center center white;
	border:2px solid white;

	/* Positioned absolutely, so we can move it around */
	position:absolute;
	height:180px;
	width:180px;

	/* Hidden by default */
	display:none;

	/* A blank cursor, notice the default fallback */
	cursor:url('img/blank.cur'),default;
	
	/* CSS3 Box Shadow */
	-moz-box-shadow:0 0 5px #777, 0 0 10px #aaa inset;
	-webkit-box-shadow:0 0 5px #777;
	box-shadow:0 0 5px #777, 0 0 10px #aaa inset;
	
	/* CSS3 rounded corners */
	-moz-border-radius:90px;
	-webkit-border-radius:90px;
	border-radius:90px;
}

#retina.chrome{
	/* A special chrome version of the cursor */
	cursor:url('img/blank_google_chrome.cur'),default;
}

#main{
	/* The main div */
	margin:40px auto;
	position:relative;
	width:750px;
}




/*-----------colors-------------*/
/*-----------shadoews-------------*/
/*-----------rows-------------*/

.searchContainer 
{




}

.row_1 {
	position: relative;
	z-index: 2;
}
.row_2 {
	padding: 30px 0 0;
}
.row_3 {
	padding: 16px 0 47px;
}
.row_4 {
	padding: 16px 0 0;
}
.row_5 {
	padding: 16px 0 30px;
}
.row_6 {
	padding: 16px 0 55px;
}
.row_7 {
	padding: 16px 0 55px;
}
.row_8 {
	padding: 16px 0 49px;
	
	
}
.row_9 {
	padding: 16px 0 29px;
}
.row_10 {
	padding: 40px 0 29px;
}
/*------headings texts links---------*/

h1 {
	padding: 0px 10px 0px;
	margin: 0 0 0px;
	font-family: 'Futura Medium';
	font-size: 33px;
	line-height: 28px;
	font-weight: 600;
	color: #ffffff; 
}

h2 {
	padding: 20px 0 13px;
	margin: 0 0 26px;
    font-family: 'Futura Medium';
	font-size: 23px;
	line-height: 28px;
	font-weight: 600;
	color: #ffffff; 
/*	border-bottom: 1px solid #eaeaea; */

}

h3 {
	padding: 0;
	margin: 0 0 20px;
    font-family: 'Futura Medium';
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	color: #105d57;
}

h4 {
	padding: 0;
	margin: 0;
    font-family: 'Futura Medium';
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	color: #4e4e4e;
}



p {  /* CHANGE FONT SIZE AND OTHER ATTRIBUTES IN THE CONTENT AREA OF THE SITE */
	padding: 0;
	font-family: 'Helvetica Neue Light';
	
	font-size: 14px;			
	
/*	font-size: 1em; */ /* looks like we need to set the font size NOT in pixels or else we can't change it using jQuery */
	
	line-height: 20px;
	font-weight: 400;
	/* color: #939393; */
	color:000000;
	margin-bottom: 15px;
}


.btn.link1 {
	
	
	position: relative;
	border: 3px solid;
	border-left-color: #105d57;
	border-top-color: #105d57;
	border-right-color: #105d57;
	border-bottom-color:#105d57;
	text-shadow: none;
	text-transform: uppercase;
    font-family: 'Helvetica Neue Light';
	font-size: 16px;
	line-height: 22px;
	font-weight: 600;
	color: #105d57;
	padding: 7px 10px 9px;
	background-position: 0 0;
	box-shadow: none;
	background-color: #fdfdfd;
	background-image: -moz-linear-gradient(top, #ffffff, #fbfbfb);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#fbfbfb));
	background-image: -webkit-linear-gradient(top, #ffffff, #fbfbfb);
	background-image: -o-linear-gradient(top, #ffffff, #fbfbfb);
	background-image: linear-gradient(to bottom, #ffffff, #fbfbfb);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fffbfbfb', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.btn.link1:hover {
	border: 1px solid;
	border-left-color: #dfdddd;
	border-top-color: #b1afaf;
	border-right-color: #dfdddd;
	border-bottom-color: #f2f1f1;
	background: #f9f8f8;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.btn.link2 {
	position: relative;
	border: 1px solid;
	border-left-color: #dfdddd;
	border-top-color: #f2f1f1;
	border-right-color: #dfdddd;
	border-bottom-color: #b1afaf;
	text-shadow: none;
    font-family: 'Helvetica Neue Light';
	font-size: 16px;
	line-height: 22px;
	font-weight: 600;
	color: #105d57;
	padding: 8px 14px 10px;
	background-position: 0 0;
	margin: 16px 0 0 0;
	box-shadow: none;
	background-color: #fdfdfd;
	background-image: -moz-linear-gradient(top, #ffffff, #fbfbfb);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#fbfbfb));
	background-image: -webkit-linear-gradient(top, #ffffff, #fbfbfb);
	background-image: -o-linear-gradient(top, #ffffff, #fbfbfb);
	background-image: linear-gradient(to bottom, #ffffff, #fbfbfb);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fffbfbfb', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.btn.link2:hover {
	color: #4e4e4e;
	border: 1px solid;
	border-left-color: #dfdddd;
	border-top-color: #b1afaf;
	border-right-color: #dfdddd;
	border-bottom-color: #f2f1f1;
	background: #f9f8f8;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.mpclear {
	margin: 0;
	padding: 0;
}
/*----------- Back to top --------------*/
#toTop {
	display: none;
	width: 16px;
	height: 16px;
	overflow: hidden;
	background: url(../img/totop.png) 0 bottom no-repeat;
	position: fixed;
	margin-right: -690px !important;
	right: 50%;
	bottom: 200px;
	z-index: 999;
}
#toTop:hover {
	background-position: 0 0;
}
#toTop:active, #toTop:focus {
	outline: none;
}
/****************** header *******************/
header {
	width: 100%;
	z-index: 10!important;
	padding: 0 0 0px;
	overflow: visible;
}
.headtop {
	text-align: right;
	padding: 14px 0 5px;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #dadada;
	background-color: #f9f9f9;
	background-image: -moz-linear-gradient(top, #fdfdfd, #f3f3f3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#f3f3f3));
	background-image: -webkit-linear-gradient(top, #fdfdfd, #f3f3f3);
	background-image: -o-linear-gradient(top, #fdfdfd, #f3f3f3);
	background-image: linear-gradient(to bottom, #fdfdfd, #f3f3f3);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfdfd', endColorstr='#fff3f3f3', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.headtop p {
    font-family: 'Helvetica Neue Light';
	font-size: 21px;
	line-height: 22px;
	font-weight: 600;
	color: #105d57;
	margin-bottom: 5px;
}
.headtop p span {
	color: #4e4e4e;
}
.headtop p i {
	font-style: normal;
	font-size: 20px;
}
/*---------social---------*/
.social {
	float: right;
	list-style: none;
	position: relative;
	margin: 0 0 0 28px;
}
.social li {
	display: inline-block;
}
.social li a {
	color: #c1c1c1;
	text-decoration: none;
	line-height: 22px;
	font-size: 21px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.social li a:hover {
	color: #4e4e4e;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
/*-----end social----------*/



/*-------- Logo -------- */
.brand_ {
	position: relative;
	z-index: 10;
	margin: 0;
	display: inline-block;
	overflow: hidden;
	float: left;
	padding: 0 0 0 0;
}
.brand_ a:hover {
	text-decoration: none;
}
/*-----search-----*/
#search {
	margin: 0;
	position: relative;
	display: inline-block;
	margin-top: 75px;
	float:none
}
#search a {
	position: relative;
	margin-left: 8px;
	
}
#search input {
	width: 420px;
	box-shadow: none;
	border: none;
	color: #dark;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px 13px 11px 13px;
	border: 3px solid #105d57;
	outline: none;
	margin: 0 0 0 0;
	float: left;
	background: #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 45px;
	text-align:center;
	

}
#search-404 {
	position: relative;
	margin: 0;
	margin-top: 10px;
	
}
#search-404 input {
	background: none;
	border: none;
	width: 100%;
	outline: none;
	box-shadow: none;
	color: #333333;
	line-height: 20px;
	border-radius: 0;
	padding: 5px 15px 6px 18px;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 0;
	border-top: 1px solid #a9a9a9;
	border-right: 1px solid #c5c5c5;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #c5c5c5;
	background: #e0e0e0;
	float: left;
	height: 33px;
	margin-bottom: 23px;
	
}
.search_link {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#search-404 .btn.btn-primary {
	margin: 0;
	padding: 14px 20px 14px 19px;
	
	
}
/*-----------------navbar---------------------*/
.cname {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.navbar_, .navbar_ nav {
	position: relative;
	margin: 0;
}
.navbar_ {
	width: 100%;
	float: left;
	position: relative;
	margin-top: 5px;
	padding: 0;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 4px 8px #cfcfcf;
	-moz-box-shadow: 0px 4px 8px #cfcfcf;
	box-shadow: 0px 4px 8px #cfcfcf;
	background: url(../img/patternmenu2.jpg);
	border-bottom: 1px solid #008f58;
}
.navbar_ .navbar-inner_ {
	padding: 0;
	margin: 0;
	border: none;
	min-height: inherit;
 filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.nav .sf-menu {
	position: relative;
}
.navbar_ .container {
	position: relative;
}
.nav-collapse_ {
	z-index: 30;
	z-index: 10;
	margin: 0;
	position: relative;
}
.navbar_ .nav {
	margin: 0;
}
.nav-collapse_ .nav li {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 9999;
	zoom: 1;
}
.nav-collapse_ .nav > li:first-child span {
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-left-radius: 8px;
}
.nav-collapse_ .nav > li > a {
	text-decoration: none;
	text-transform: uppercase;
    font-family: 'Helvetica Neue Light';
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	display: block;
	position: relative;
	color: #ffffff;
		
	z-index: 10;
	background: url(../img/point.png);
	padding: 16px 28px 21px;
	border-right: 1px solid #0c7449;
	margin: 0;
	text-shadow: 0px 1px 1px #006436;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.nav-collapse_ .nav > li > span {
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 100%;
	z-index: -1;
	background: url(../img/patternhover.jpg) 0 0 repeat-x;
	-webkit-transition: all 0.14s ease-out;
	-moz-transition: all 0.14s ease-out;
	-o-transition: all 0.14s ease-out;
	transition: all 0.14s ease-out;
}
.nav-collapse_ .nav > li > a .sf-sub-indicator {
	background: url(../img/indicator.png) no-repeat 0 bottom;
	width: 7px;
	height: 4px;
	display: inline-block;
	top: 42px;
	right: 46%;
	position: absolute;
	z-index: 5;
}
.nav-collapse_ .nav > li.active > a, .nav-collapse_ .nav > li.active > a:hover {
	color: #ffffff;
	background: none;
	box-shadow: none;
}
.nav-collapse_ .nav > li.active > a + span, .nav-collapse_ .nav > li.active > a:hover + span {
	height: 100%;
	-webkit-transition: all 0.14s ease-out;
	-moz-transition: all 0.14s ease-out;
	-o-transition: all 0.14s ease-out;
	transition: all 0.14s ease-out;
}
.navbar_ .nav > .active > a + span, .navbar_ .nav > .active > a:hover + span, .navbar_ .nav > .active > a:focus + span {
	height: 100%;
	-webkit-transition: all 0.14s ease-out;
	-moz-transition: all 0.14s ease-out;
	-o-transition: all 0.14s ease-out;
	transition: all 0.14s ease-out;
}
.nav-collapse_ .nav > li > a:hover {
	color: #ffffff;
	background: none;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.nav-collapse_ .nav > li > a:hover + span {
	height: 100%;
	-webkit-transition: all 0.14s ease-out;
	-moz-transition: all 0.14s ease-out;
	-o-transition: all 0.14s ease-out;
	transition: all 0.14s ease-out;
}
.nav-collapse_ .nav > li.sfHover.active > a .sf-sub-indicator, .nav-collapse_ .nav > li.active > a .sf-sub-indicator {
	background-position: 0 0;
}
.nav-collapse_ .nav > li.sfHover > a, .nav-collapse_ .nav > li.sfHover > a:hover, .nav-collapse_ .nav > li > a:hover, .nav-collapse_ .nav > li.active > a, .nav-collapse_ .nav > li.active > a:hover {
	color: #ffffff;
}
.nav-collapse_ .nav > li.sfHover > a + span, .nav-collapse_ .nav > li.sfHover > a:hover + span, .nav-collapse_ .nav > li > a:hover + span, .nav-collapse_ .nav > li.active > a + span, .nav-collapse_ .nav > li.active > a:hover + span {
	height: 100%;
	-webkit-transition: all 0.14s ease-out;
	-moz-transition: all 0.14s ease-out;
	-o-transition: all 0.14s ease-out;
	transition: all 0.14s ease-out;
}
.sub-menu > a {
	position: relative;
}
.nav-collapse_ .nav ul {
	position: absolute;
	display: none;
	left: 0px;
	top: 57px;
	width: 150px;
	list-style: none;
	zoom: 1;
	z-index: 555;
	background: #333333;
	padding: 0;
	margin: 0;
	text-align: left;
	z-index: 9999;
}
.nav-collapse_ .nav ul li:first-child {
	border: none;
}
.nav-collapse_ .sub-menu li {
	border-top: 1px solid #565555;
	background: none;
}
.nav-collapse_ .nav ul li a {
	display: block;
	color: #ffffff;
	background: none;
	margin: 0;
	padding: 5px 0 7px 20px;
    font-family: 'Helvetica Neue Light';
	line-height: 20px;
	font-weight: 400;
	font-size: 15px;
}
.nav-collapse_ .nav ul li a span {
	color: #f2305a;
	display: block;
	font-size: 10px;
	line-height: 12px;
	text-transform: none;
}
.nav-collapse_ .nav ul ul li a {
	border-bottom: none;
	padding: 11px 0 6px 18px;
	color: #ffffff;
	text-align: left;
}
.nav-collapse_ .nav > li > ul li > a:hover, .nav-collapse_ .nav > li > ul li.sfHover > a {
	background-color: #555555;
	text-decoration: none;
}
.nav-collapse_ .nav > li > ul li > a:hover, .nav-collapse_ .nav > li > ul ul li.sfHover > a {
	text-decoration: none;
	background-color: #555555;
}
/*-------------------select------------------*/
.select-menu {
	display: none !important;
}
/**************** header end *****************/
/***************** content ****************/
.slider {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 0 !important;
}
/*-----------list1------------*/
.list1 {
	position: relative;
	list-style: none;
}
.list1 li {
	position: relative;
	border-top: 1px solid #eeeeee;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 4px 8px #f5f5f5;
	-moz-box-shadow: 0px 4px 8px #f5f5f5;
	box-shadow: 0px 4px 8px #f5f5f5;
	background-color: #fdfdfd;
	background-image: -moz-linear-gradient(top, #fbfbfb, #ffffff);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbfbfb), to(#ffffff));
	background-image: -webkit-linear-gradient(top, #fbfbfb, #ffffff);
	background-image: -o-linear-gradient(top, #fbfbfb, #ffffff);
	background-image: linear-gradient(to bottom, #fbfbfb, #ffffff);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbfbfb', endColorstr='#ffffffff', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.list1 li .box1 {
	min-height: 80px;
	display: block;
	margin-bottom: 10px;
}
.list1 li a {
	text-decoration: none;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	position: relative;
	padding: 22px 33px 10px 30px;
	display: block;
	background: transparent;
	-webkit-transition: all 0.22s ease-out;
	-moz-transition: all 0.22s ease-out;
	-o-transition: all 0.22s ease-out;
	transition: all 0.22s ease-out;
}
.list1 li a:hover {
	text-decoration: none;
	position: relative;
	padding: 22px 33px 10px 30px;
	display: block;
	background: #105d57;
	-webkit-transition: all 0.22s ease-out;
	-moz-transition: all 0.22s ease-out;
	-o-transition: all 0.22s ease-out;
	transition: all 0.22s ease-out;
}
.list1 li a:hover p.title1 {
	color: #ffffff;
	-webkit-transition: all 0.22s ease-out;
	-moz-transition: all 0.22s ease-out;
	-o-transition: all 0.22s ease-out;
	transition: all 0.22s ease-out;
}
.list1 li a:hover p.title1 span {
	color: #ffffff;
	-webkit-transition: all 0.22s ease-out;
	-moz-transition: all 0.22s ease-out;
	-o-transition: all 0.22s ease-out;
	transition: all 0.22s ease-out;
}
.list1 li a:hover p {
	color: #ffffff;
	-webkit-transition: all 0.22s ease-out;
	-moz-transition: all 0.22s ease-out;
	-o-transition: all 0.22s ease-out;
	transition: all 0.22s ease-out;
}
.list1 li a:hover div i {
	color: #ffffff;
	-webkit-transition: all 0.22s ease-out;
	-moz-transition: all 0.22s ease-out;
	-o-transition: all 0.22s ease-out;
	transition: all 0.22s ease-out;
}
.list1 li a:hover .marker2 {
	color: #ffffff;
	-webkit-transition: all 0.22s ease-out;
	-moz-transition: all 0.22s ease-out;
	-o-transition: all 0.22s ease-out;
	transition: all 0.22s ease-out;
}
.list1 li a > div p.title1 {
    font-family: 'Helvetica Neue Light';
	font-size: 28px;
	line-height: 32px;
	font-weight: 600;
	color: #105d57;
	margin-bottom: 0;
	-webkit-transition: all 0.22s ease-out;
	-moz-transition: all 0.22s ease-out;
	-o-transition: all 0.22s ease-out;
	transition: all 0.22s ease-out;
}
.list1 li a > div p.title1 span {
	color: #4e4e4e;
}
.list1 li a > div i {
	float: left;
	width: auto;
	color: #105d57;
	font-size: 68px;
}
.list1 li a .marker2 {
	position: absolute;
	float: right;
	width: auto;
	color: #105d57;
	font-size: 28px;
	bottom: 12px;
	right: 19px;
	-webkit-transition: all 0.22s ease-out;
	-moz-transition: all 0.22s ease-out;
	-o-transition: all 0.22s ease-out;
	transition: all 0.22s ease-out;
}
.list1 li a p {
	line-height: 18px;
	-webkit-transition: all 0.22s ease-out;
	-moz-transition: all 0.22s ease-out;
	-o-transition: all 0.22s ease-out;
	transition: all 0.22s ease-out;
}
.top1 {
	position: relative;
	top: 14px;
}
/*-------List2-------*/
.list2 {
	position: relative;
	margin: -11px 0 0 0;
	padding-top: 0;
}
.list2 li {
	display: block;
	list-style: none;
	padding: 9px 0 0 44px;
	margin: 0 0 10px 0;
}
.list2 li:first-child {
	padding: 9px 0 0 44px;
	margin: 0 0 10px 0;
	border-top: none;
}
.list2 > li {
	position: relative;
    font-family: 'Helvetica Neue Light';
	font-size: 17px;
	line-height: 24px;
	font-weight: 600;
	border-top: 1px dotted #d5d5d5;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
.list2 > li > a {
    font-family: 'Helvetica Neue Light';
	font-size: 17px;
	line-height: 24px;
	font-weight: 600;
	text-decoration: none;
	color: #105d57;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
.list2 > li > a i {
	position: absolute;
	left: 10px;
	top: 11px;
	color: #bebebe;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
.list2 > li > a:hover {
	text-decoration: none;
	color: #4e4e4e;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
.list2 > li > a:hover i {
	color: #105d57;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
/***********************list-most-popular****************************/
.list-most-popular {
	position: relative;
	top: 4px;
	margin: 0 0 0 0;
}
.list-most-popular li {
	display: block;
}
.list-most-popular li {
	margin-bottom: 15px;
	padding-bottom: 0;
}
.list-most-popular li h3 {
	margin: 12px 0 10px 0;
	padding: 0;
}
.list-most-popular li a {
	color: #105d57;
	text-decoration: none;
}
.list-most-popular li a:hover {
	color: #105d57;
	text-decoration: underline;
}
.list-most-popular .infotxt {
	overflow: hidden;
}
.list-most-popular > li > div > figure {
	padding: 0;
	float: left;
	margin: 0;
	margin-right: 20px;
	margin-bottom: 5px;
}
.list-most-popular > li > div > figure img {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
/*-----------about----------*/
.about img {
	margin-top: 4px;
	margin-bottom: 21px;
}
.about h3 {
	margin-bottom: 11px;
}
.about p {
	margin-bottom: 8px;
}
/*----------- .testimonials--------------*/
.list-quote.extra {
	padding-bottom: 34px;
}
.list-quote {
	position: relative;
	top: 5px;
	list-style: none;
	margin: 0;
}
.list-quote li:first-child {
	padding: 0;
	border-top: none;
	margin: 0 0 0 0;
}
.quote-1 {
	background: url("../img/blockquote.png") no-repeat 0 0;
	border: medium none;
	display: block;
	margin: 0 0 0 0;
	overflow: hidden;
	padding: 8px 0 20px 14px;
}
.quote-1 p {
	vertical-align: text-top;
    font-family: 'Helvetica Neue Light';
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #939393;
	margin: 0 0 16px;
	padding: 0;
}
.quote-1 strong {
    font-family: 'Helvetica Neue Light';
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	color: #4e4e4e;
	text-align: left;
	display: block;
}
.quote-1 span {
	color: #939393;
	text-align: left;
	display: block;
}
/*------ list-abouts ------- */
.list-about {
	padding-bottom: 0;
	margin: 0;
	list-style: none;
}
.list-about p {
	color: #939393;
	margin-bottom: 0;
	padding: 0 0 0 30px;
}
.list-about a {
	text-decoration: none;
	display: inline-block;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.list-about a:hover {
	text-decoration: none;
	color: #4e4e4e;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.list-about li a {
    font-family: 'Helvetica Neue Light';
	font-size: 17px;
	line-height: 20px;
	font-weight: 600;
	color: #105d57;
	padding: 0 0 9px 30px;
	margin-bottom: 0;
}
.list-about li a i {
	position: absolute;
	left: 0;
	color: #939393;
}
.list-about li {
	position: relative;
	list-style: none;
	overflow: hidden;
	padding-top: 21px;
	margin-top: 0;
	color: #909090;
}
.list-about li:first-child {
	padding: 0;
	border: none;
	margin: 0;
}
/*------------team---------------*/
.team {
	position: relative;
	list-style: none;
	margin-left: -20px;
	margin-top: -26px;
}
.team li {
	display: block;
	list-style: none;
	padding: 0;
	margin: 18px 0 0 20px;
}
.team li a figure {
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.team li a figure img {
	opacity: 1;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.team li a:hover figure {
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.team li a:hover figure img {
	opacity: 0.5;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
/*--------list-blog-----------*/
.list-blog {
	position: relative;
	top: 5px;
	margin: 0;
}
.list-blog li {
	display: block;
	margin-top: 40px;
}
.list-blog li {
	margin-top: 0px;
	padding-bottom: 24px;
}
.list-blog .infotxt {
	overflow: hidden;
}
.list-blog li .extra-wrap a:hover {
	color: #ffc40d;
}
.list-blog > li > div > figure {
	float: left;
	margin: 0;
	margin-right: 18px;
	margin-bottom: 5px;
}
.list-blog > li > div > .infotxt > strong {
    font-family: 'Helvetica Neue Light';
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
}
.list-blog > li > div > .infotxt > h3 {
	margin-bottom: 5px;
}
.list-blog > li > div > .infotxt > h3 a {
	color: #105d57;
}
.list-blog > li > div > .infotxt > h3 a:hover {
	text-decoration: underline;
}
.list-blog > li > div > .infotxt > p {
	margin-bottom: 8px;
}
h2.archive {
	padding-top: 32px;
}
/*----------- thumbnails2 --------------*/
.thumbnails2 {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 0;
	margin-bottom: 30px;
	margin-top: -18px;
	list-style: none;
	overflow: hidden;
}
.thumbnails2 li {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid;
	border-left-color: #dfdddd;
	border-top-color: #f2f1f1;
	border-right-color: #dfdddd;
	border-bottom-color: #b1afaf;
	margin: 22px 0 0 18px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.thumbnails2 .services {
	padding: 20px 19px 21px 19px !important;
	background-color: #fdfdfd;
	background-image: -moz-linear-gradient(top, #ffffff, #fbfbfb);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#fbfbfb));
	background-image: -webkit-linear-gradient(top, #ffffff, #fbfbfb);
	background-image: -o-linear-gradient(top, #ffffff, #fbfbfb);
	background-image: linear-gradient(to bottom, #ffffff, #fbfbfb);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fffbfbfb', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.thumbnails2 img {
	padding: 0;
	margin: 0 0 18px 0;
}
.thumbnails2 .thumbnail {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 0;
	border: none;
}
.thumbnails2 .caption h3 {
	margin-bottom: 6px;
}
.thumbnails2 .caption h3 a {
	color: #105d57;
}
.thumbnails2 .caption p {
	margin-bottom: 0;
}
.services .caption {
	padding: 0;
}
/*------------- contacts page -------------------*/
.map {
	overflow: hidden;
	line-height: 0;
	font-size: 0;
	margin-bottom: 24px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.map iframe {
	width: 100%;
	height: 402px;
	border: none;
	margin-top: 6px;
	margin-bottom: 0;
	padding-bottom: 0;
}
.address strong {
	font-weight: 600;
    font-family: 'Helvetica Neue Light';
	font-size: 16px;
	line-height: 22px;
	color: #4e4e4e;
	padding: 0;
	padding-bottom: 2px;
}
address {
	margin: 0;
	margin-bottom: 12px;
}
.info > p {
	color: #939393;
	margin-bottom: 29px;
}
.info > p span {
	color: #939393;
	width: 97px;
	display: inline-block;
}
/***** contact form *****/
.contact-form {
	position: relative;
	vertical-align: top;
	z-index: 1;
	margin: 0;
	top: -10px;
}
.contact-form .txt-form {
	display: none;
}
.contact-form .coll-1, .contact-form .coll-2, .contact-form .coll-3 {
	margin-bottom: 23px;
	float: left;
	width: 200px;
}
.contact-form .coll-1 p, .contact-form .coll-2 p, .contact-form .coll-3 p {
	margin-bottom: 3px;
}
.contact-form .coll-1, .contact-form .coll-2 {
	margin-right: 10px;
}
.contact-form fieldset {
	top: 9px;
	border: none;
	padding: 0;
	width: 100%;
	position: relative;
	z-index: 10;
}
.contact-form label {
	display: block;
	min-height: 45px;
	position: relative;
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
}
.contact-form .message {
	display: block;
	width: 100%;
	margin-bottom: 0;
}
.contact-form .message p {
	margin-bottom: 3px;
}
.contact-form .message b {
	position: relative;
	display: block;
	margin-bottom: 0;
    font-family: 'Helvetica Neue Light';
	font-weight: normal;
	color: #939393;
}
.contact-form input {
	padding: 0 10px;
	line-height: 20px;
	margin: 0;
	margin-bottom: 2px !important;
	text-decoration: none;
    font-family: 'Helvetica Neue Light';
	color: #727272;
	background: transparent;
	outline: none;
	width: 100%;
	border: 1px solid #eeecec;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	float: left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.contact-form textarea {
	padding: 9px 10px;
	line-height: 20px;
	margin: 0;
	margin-bottom: 2px !important;
	text-decoration: none;
    font-family: 'Helvetica Neue Light';
	color: #727272;
	background: transparent;
	outline: none;
	width: 100%;
	border: 1px solid #eeecec;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	float: left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.contact-form input {
	height: 40px;
}
.contact-form input:focus, .contact-form textarea:focus {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	border: 1px solid #eeecec !important;
	color: #727272 !important;
	border: 1px solid #eeecec;
}
.contact-form .area .error {
	float: none;
}
.contact-form textarea {
	width: 100%;
	height: 112px;
	resize: none;
	overflow: auto;
}
.contact-form .success {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 14px;
	line-height: 20px;
	background: #fff;
	padding: 34px 0px;
	text-transform: none;
	text-align: center;
	z-index: 20;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #eeecec;
}
.contact-form .error, .contact-form .empty {
	color: #f00;
	font-size: 10px;
	line-height: 1.2em;
	display: none;
	text-align: right;
	overflow: hidden;
	width: 100%;
	text-transform: none;
	position: absolute;
	top: 40px;
	right: 0;
}
.contact-form .message .error, .contact-form .message .empty {
	top: 132px;
}
.contact-form .buttons-wrapper {
	margin: 0;
}
.contact-form .buttons-wrapper a {
	margin-top: 23px;
}
.contact-form .buttons-wrapper a:hover {
	text-decoration: none;
}
.contact-form .buttons-wrapper p {
	top: -10px;
	position: relative;
	font-weight: 200;
	display: inline-block;
	color: #939393;
	text-transform: uppercase;
}
.contact-form .buttons-wrapper span {
    font-family: 'Helvetica Neue Light';
	font-size: 14px;
	color: #105d57;
	font-weight: 600;
	display: inline-block;
	position: relative;
	margin-left: 32px;
	top: 14px;
}
.address .link1 {
	padding: 7px 32px;
}
.buttons-wrapper > .link1 {
	padding: 7px 15px;
}
/*-- end contacts --*/
/*----------------privacy page------------*/
.privacy_page p {
	margin-bottom: 20px !important;
}
.privacy_page a {
    font-family: 'Helvetica Neue Light';
	font-size: 14px;
	font-weight: 600;
	color: #105d57;
}
.privacy_page a:hover {
	color: #4e4e4e;
}
/*404 page*/
/*404 page*/
.block-404 .span6 {
	padding-top: 2px;
	margin-bottom: 20px;
}
.block-404 .span6 img {
	margin-left: 0;
}
.block-404 .forminfo {
	margin-top: 6px;
}
.block-404 .forminfo h4 {
	font-size: 48px;
	margin-bottom: 56px;
}
.block-404 .forminfo h4 span {
	top: 22px;
	position: relative;
	font-size: 23px;
	color: #105d57;
}
.block-404 .forminfo .btn.link5 {
	margin: 0;
	margin-top: 18px;
}
.block-404 p {
	margin-bottom: 20px;
}
.block-404 h3 {
	margin: 20px 0 12px 0;
	line-height: 30px;
	font-size: 30px;
	padding: 0;
	border: none;
}
.block-404 h3 span {
	line-height: 67px;
	font-size: 24px;
}
.form-404 {
	width: 100%;
	display: block;
	margin-top: 44px;
}
.form-404 input {
	outline: none;
	height: 41px;
	width: 78%;
    font-family: 'Helvetica Neue Light';
	padding: 4px 10px 4px 10px;
	line-height: 24px;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: none;
	background: transparent;
	border: 1px solid #e5e3e3;
	color: #7d7d7d;
	float: left;
}
.form-404 input:focus {
	border: 1px solid #e5e3e3;
	box-shadow: none;
	outline: none;
}
.form-404 a {
	margin-top: 0 !important;
	float: right;
}
/**/
/*************** content end **************/
/***************** footer ******************/
footer {
	padding-bottom: 40px;
}
footer .span12 {
	padding: 18px 0 0;
	border-top: 1px solid #eaeaea;
}
.smalllogo {
	float: left;
	
}
.privacytxt {
	margin-top: 27px;

    font-family: 'Helvetica Neue Light';
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	color: #105d57;
}
.privacytxt span {
	color: #939393;
}
.privacytxt a {
	color: #939393;
}
.privacytxt a:hover {
	color: #105d57;
	text-decoration: none;
}
/************** footer end ******************/
/**************** media queries **************/
/*************************************************/
@media (min-width: 1200px) {
.form-404 input {
	height: 41px;
	width: 83%;
}
.contact-form .coll-1,  .contact-form .coll-2,  .contact-form .coll-3 {
	float: left;
	width: 250px;
}
.thumbnails2 li {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid;
	border-left-color: #dfdddd;
	border-top-color: #f2f1f1;
	border-right-color: #dfdddd;
	border-bottom-color: #b1afaf;
	margin: 22px 0 0 28px;
}
.team {
	position: relative;
	list-style: none;
	margin-left: -30px;
	margin-top: -26px;
}
.team li {
	display: block;
	list-style: none;
	padding: 0;
	margin: 30px 0 0 30px;
}
.list1 li .box1 {
	min-height: 80px;
	display: block;
	margin-bottom: 0;
}
}
/*************************************************/
@media (min-width: 768px) and (max-width: 979px) {
.form-404 input {
	height: 41px;
	width: 100%;
}
.form-404 a {
	margin-top: 15px !important;
	float: right;
}
.contact-form .coll-1,  .contact-form .coll-2,  .contact-form .coll-3 {
	float: none;
	width: 100%;
}
.list-blog > li > div > .infotxt {
	overflow: visible;
}
.list-most-popular > li > div > figure {
	float: none;
	width: 100%;
	margin: 0 0 10px 0;
}
.list-most-popular > li > div > figure img {
	width: 100%;
}
.list1 li a > div p.title1 {
    font-family: 'Helvetica Neue Light';
	font-size: 28px;
	line-height: 32px;
	font-weight: 600;
	color: #105d57;
	margin-bottom: 0;
	-webkit-transition: all 0.22s ease-out;
	-moz-transition: all 0.22s ease-out;
	-o-transition: all 0.22s ease-out;
	transition: all 0.22s ease-out;
}
.list1 li a > div p.title1 span {
	color: #4e4e4e;
}
.list1 li a > div i {
	text-align: center;
	float: none;
	width: auto;
	color: #105d57;
	font-size: 68px;
}
.top1 {
	position: relative;
	top: 0;
}
.nav-collapse_ .nav > li {
	float: left;
}
.nav-collapse_ .nav > li > a {
	padding: 16px 15px 21px;
}
.navbar_ .nav-collapse_ {
	width: auto!important;
	overflow: visible !important;
	height: auto;
	clear: none;
}
}
/*************************************************/
@media (max-width: 767px) {
.form-404 input {
	height: 41px;
	width: 100%;
}
.form-404 a {
	margin-top: 15px !important;
	float: right;
}
.contact-form .message .error,  .contact-form .message .empty {
	top: 187px;
}
.contact-form .coll-1,  .contact-form .coll-2,  .contact-form .coll-3 {
	width: 100%;
	float: none;
}
.thumbnails2 {
	margin-left: -20px;
}
.thumbnails2 li {
	float: left;
	width: 30%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid;
	border-left-color: #dfdddd;
	border-top-color: #f2f1f1;
	border-right-color: #dfdddd;
	border-bottom-color: #b1afaf;
	margin: 22px 0 0 20px;
}
.list-blog > li > div > .infotxt {
	overflow: visible;
}
.about img {
	margin-right: 20px;
	margin-bottom: 10px;
	width: 50%;
	float: left;
}
.team {
	position: relative;
	list-style: none;
	margin-left: -20px;
	margin-top: -26px;
}
.team .span2 {
	width: 30%;
	float: left;
	padding: 0;
	margin: 30px 0 0 20px;
}
.team .span2 a figure img {
	width: 100%;
}
.row_4 h2 {
	padding-top: 30px;
}
.row_3 h2 {
	padding-top: 40px;
}
.list1 li {
	margin-bottom: 15px;
}
.sf-menu {
	display: none !important;
}
.navbar_ .nav-collapse_ {
	float: none;
	display: none;
}
.navbar_ .btn-navbar {
	display: none;
}
.navbar_ {
	background: transparent;
	margin-top: 0;
}
.select-menu {
	display: block !important;
	color: #ffffff;
	border: 1px solid #105d57;
	background: #343434 !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	position: relative;
	width: 100%;
	margin: 0 0 0;
}
.select-menu option {
	padding-bottom: 4px;
}
#search {
	margin: 0;
	position: relative;
	display: block;
	margin-top: 22px;
	margin-bottom: 20px;
	float: none;
	width: 100%;
}
#search input {
	width: 82%;
}
.brand_ {
	position: relative;
	z-index: 10;
	margin: 0;
	display: block;
	overflow: hidden;
	float: none;
	padding: 0 0 0 0;
}
}
/*************************************************/
@media (max-width: 650px) {
.form-404 input {
	height: 41px;
	width: 100%;
}
.form-404 a {
	margin-top: 15px !important;
	float: right;
}
.thumbnails2 {
	margin-left: -20px;
}
.thumbnails2 li {
	float: left;
	width: 45%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid;
	border-left-color: #dfdddd;
	border-top-color: #f2f1f1;
	border-right-color: #dfdddd;
	border-bottom-color: #b1afaf;
	margin: 22px 0 0 20px;
}
.team {
	position: relative;
	list-style: none;
	margin-left: -20px;
	margin-top: -26px;
}
.team .span2 {
	width: 29%;
	float: left;
	padding: 0;
	margin: 30px 0 0 20px;
}
.team .span2 a figure img {
	width: 100%;
}
}
/*************************************************/
@media (max-width: 600px) {
.privacytxt {
	float: left;
	width: 100%;
}
}
/*************************************************/
@media (max-width: 560px) {
.form-404 input {
	height: 41px;
	width: 100%;
}
.form-404 a {
	margin-top: 15px !important;
	float: right;
}
.headtop {
	text-align: left;
}
.headtop .pull-right {
	float: left;
}
.headtop .social {
	float: none;
	margin: 10px 0 10px 0;
}
.top1 {
	position: relative;
	top: 14px;
}
#search {
	margin: 0;
	position: relative;
	display: block;
	margin-top: 22px;
	margin-bottom: 20px;
	float: none;
	width: 100%;
}
#search input {
	width: 75%;
}
}
/*************************************************/
@media (max-width: 540px) {
.form-404 input {
	height: 41px;
	width: 100%;
}
.form-404 a {
	margin-top: 15px !important;
	float: right;
}
.list-blog > li > div > figure {
	float: none;
	margin-right: 0;
}
.list-blog > li > div > figure img {
	width: 100%;
}
}
/*************************************************/
@media (max-width: 480px) {
.form-404 input {
	height: 41px;
	width: 100%;
}
.form-404 a {
	margin-top: 15px !important;
	float: right;
}
.thumbnails2 {
	margin-left: 0;
}
.thumbnails2 li {
	float: none;
	width: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid;
	border-left-color: #dfdddd;
	border-top-color: #f2f1f1;
	border-right-color: #dfdddd;
	border-bottom-color: #b1afaf;
	margin: 22px 0 0 0;
}
.thumbnails2 li img {
	width: 100%;
}
.about img {
	margin-right: 0;
	margin-bottom: 20px;
	width: 100%;
	float: none;
}
.about img img {
	width: 100%;
}
.team {
	position: relative;
	list-style: none;
	margin-left: -20px;
	margin-top: -26px;
}
.team .span2 {
	width: 44%;
	float: left;
	padding: 0;
	margin: 30px 0 0 20px;
}
.team .span2 a figure img {
	width: 100%;
}
.list-most-popular > li > div > figure {
	float: none;
	width: 100%;
	margin: 0 0 10px 0;
}
.list-most-popular > li > div > figure img {
	width: 100%;
}
.list1 li a > div i {
	text-align: center;
	float: none;
	width: auto;
	color: #105d57;
	font-size: 68px;
}
.top1 {
	position: relative;
	top: 0;
}
#search {
	margin: 0;
	position: relative;
	display: block;
	margin-top: 22px;
	margin-bottom: 20px;
	float: none;
	width: 100%;
}
#search input {
	width: 65%;
}
}
/*************************************************/
@media (max-width: 360px) {
.privacytxt a {
	display: block;
}
.form-404 input {
	height: 41px;
	width: 100%;
}
.form-404 a {
	margin-top: 15px !important;
	float: right;
}
#search {
	margin: 0;
	position: relative;
	display: block;
	margin-top: 22px;
	margin-bottom: 20px;
	float: none;
	width: 100%;
}
#search input {
	width: 62%;
}
.team {
	position: relative;
	list-style: none;
	margin-left: 0;
	margin-top: -26px;
}
.team .span2 {
	width: 100%;
	float: none;
	padding: 0;
	margin: 30px 0 0 0;
}
.team .span2 a figure img {
	width: 100%;
}
.list-most-popular > li > div > figure {
	float: none;
	width: 100%;
	margin: 0 0 10px 0;
}
.list-most-popular > li > div > figure img {
	width: 100%;
}
}
/*Core variables and mixins*/
.clearfix {
 *zoom: 1;
}
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}
.clearfix:after {
	clear: both;
}
.hide-text {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.input-block-level {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
